# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Manager_Coffee_And_Drink\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
